body{
    font-family:'Courier New', Courier, monospace;
    font-style: italic;

}
image{
    line-height: normal;
    border-width:  1cap;
    line-height-step: 1;
    background-image: 
}